.TimePicker {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.time {
    padding: 5px 5px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
}

.selectedTime {
    background-color: var(--light-grey);
    font-weight: bold;
    border-radius: 8px;
}